:root {
    --primary-color: #222222;
    --secondary-color: #111111;
    --tertiary-color: #ff7f00;
    --text-color: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--primary-color);
    color: var(--text-color);
    font-family: rubik, helvetica, arial, sans-serif;
}

a {
    color: var(--tertiary-color);
}

a:hover {
    color: #ffbf00;
}

a:active {
    color: #ff3f00;
}

a:visited {
    color: #ccff77;
}

header, footer {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 24px 12px 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    border-bottom: 2px ridge var(--tertiary-color);
    justify-content: space-between;
}

header h1, section h2, footer h2 {
    font-weight: normal;
}

header h1, section h2 {
    font-size: 54px;
}

header h1 sup, header h1 sub {
    font-size: 27px;
}

header h1 sub {
    vertical-align: -0.285714em;
}

header a, footer a {
    font-size: 20px;
    text-decoration: none;
}

footer {
    border-top: 2px ridge var(--tertiary-color);
    justify-content: space-around;
}

header ul, footer ul {
    overflow: hidden;
}

header li, footer li {
    float: left;
}

header li:first-child, footer li:first-child {
    list-style-type: none;
}

header li:not(li:first-child), footer li:not(li:first-child) {
    margin-left: 23px;
}

main {
    background-color: var(--primary-color);
    min-height: calc(100vh - 140px);
    display: inline-table;
}

section {
    display: flex;
    align-items: flex-start;
    margin: 10px;
}

section h2 {
    color: var(--tertiary-color);
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    margin: 5px;
    border-right: 2px solid var(--tertiary-color);
    padding: 5px 10px 5px 0;
}

.infobox {
    background: var(--secondary-color);
    margin: 10px;
    border: 2px solid var(--tertiary-color);
    border-radius: 5px;
    padding: 2px;
    width: 300px;
    float: right;
    clear: right;
    flex-direction: column;
    align-items: center;
    color: var(--tertiary-color);
}

.infobox img {
    max-width: 280px;
    padding: 4px;
}

.infobox .rows {
    font-size: 90%;
    width: 100%;
    text-align: left;
}

.infobox .rows tr:nth-child(even) {
    background-color: var(--primary-color);
}

.infobox .rows th, .infobox .rows td {
    padding: 4px;
}

.content {
    padding-left: 6px;
}

.content h3 {
    color: var(--tertiary-color);
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px solid var(--tertiary-color);
    margin: 6px 0 10px 0;
}

.content p {
    line-height: 1.2;
    margin-bottom: 15px;
}

.project-section {
    padding-left: 3px;
    display: flex;
    flex-wrap: wrap;
}

.project-section article {
    margin: 5px 5px -31px 5px;
}

.project-section article a {
    text-decoration: none;
}

.project-section .light a {
    color: var(--primary-color);
}

.project-section .dark a {
    color: var(--text-color);
}

.project-section article img {
    max-width: 400px;
    min-width: 200px;
    border: 2px solid var(--tertiary-color);
    border-radius: 2px;
}

.project-section article img:first-child {
    width: 100%;
    max-width: 914px;
}

.project-section article div {
    position: relative;
    left: 6px;
    bottom: 36px;
    height: 27.2px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    width: fit-content;
}

.project-section article div small {
    font-size: 12px;
}

@media only screen and (max-width: 1039.9px) {
    .infobox {
        float: none;
        clear: none;
        margin: 10px auto;
    }
}

@media only screen and (max-width: 799.9px) {
    footer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 767.9px) {
    section {
        flex-direction: column;
        align-items: center;
    }

    section h2 {
        padding: 5px 0;
        margin: 0 auto;
        border-right: none;
        border-bottom: 2px solid var(--tertiary-color);
    }
}

@media only screen and (max-width: 599.9px) {
    header {
        flex-direction: column;
    }
}

@media only screen and (max-width: 519.9px) {
    header ul, footer ul {
        overflow: visible;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    header li:first-child, footer li:first-child {
        list-style-type: disc;
    }

    header li:not(li:first-child), footer li:not(li:first-child) {
        margin-left: 0;
    }
}

@media only screen and (max-width: 323.9px) {
    .infobox {
        width: fit-content;
        padding-top: 0;
    }

    .infobox tr {
        display: flex;
        flex-direction: column;
    }

    section {
        margin: 10px 10px 10px 0;
    }

    section h2 {
        font-size: 48px;
    }

    .project-section article {
        margin-bottom: -32px;
    }

    .project-section article div {
        font-size: 20px;
        bottom: 32px;
        height: 23.2px;
    }
}